<!-- views/profile.ejs -->
<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">

			<%- include ('navbar.ejs') %>

			<div class="row">

		        <!-- User Info -->
		        <div class="col-sm-6">
		            <div class="well">
		                <h3 class="text-danger"><span></span> There was an error in processing your request. Please reach out to your System Administrator if the problem persists</h3>
		            </div>
		        </div>

			</div>

		</div>
	</body>
</html>