<!-- views/partials/header.ejs -->
<div class="text-center navBarButtonsContainer">
	<button class="btn btn-default btn-sm pageViewToggle" value="profile" id="profileAjax" url="profile" title="Home">Home</button>
<!-- 	<a href="/addAuthorizedUser" class="btn btn-default btn-sm">Add Authorized user</a> -->
<!-- 	<a href="/filterContainers" class="btn btn-default btn-sm">Filter Containers</a> -->
	<button class="btn btn-default btn-sm" id="addContainerAjax">Create New Portfolio</button>
	<button class="btn btn-default btn-sm" id="addGroupAjax">Create New Group</button>
	<button class="btn btn-default btn-sm" id="createStrategyBtn">Create New Strategy</button>
	<button class="btn btn-default btn-sm pageViewToggle" value="addTransactions" id="addTransactionsAjax" url="addTransactions" title="Add Transactions">Add Transactions</button>
	<button class="btn btn-default btn-sm pageViewToggle" value="derivatives" id="derivativesAjax" url="derivatives" title="Derivatives">Derivatives</button>
	<button class="btn btn-default btn-sm pageViewToggle" value="lending" id="lendingAjax" url="lending" title="Lending">Lending</button>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>