<template id="derivativesUserViewActionsBarTemplate">
	<div class="derivativesUserViewActionsBar">
		<div class="derivativesUserViewActionsBarActionDiv">
			<input type="text" name="userDerivativesFilter" placeholder="Filter Strategies">
		</div>
		<div class="derivativesUserViewActionsBarActionDiv">
			<button class="btn btn-default btn-sm collapseStrategies">Collapse All Strategies</button>
		</div>
		<div class="derivativesUserViewActionsBarActionDiv">
			<button class="btn btn-default btn-sm expandStrategies">Expand All Strategies</button>
		</div>
	</div>
</template>